/* HomePage.module.css */

/* Slider Styles */
.slider-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.slider-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.collections {
  display: flex;
  justify-content: center;

}

.hr {
  height: 4px;
  background: rgb(167, 166, 166);
  width: 100%;
}

/* Links Section Styles */
.links-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.links-container:hover {
  transform: scale(0.99);
}

.link-style {
  text-decoration: none;
  border-radius: 5px;
}

.section figure .figcaption {
  position: relative;
    /* left: 5%; */
    top: -50px;
    color: #fff;
    
    /* background: rgba(0, 0, 0, 0.2); */
    opacity: 0;
    transition: opacity 0.3s;
  opacity: 0;
  /* display: none; */
  
}

.section figure:hover .figcaption {
  animation: figcaptionAnimation 1.5s ease 0.05s;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 1;
  transform: translateZ(0) ;

}


@keyframes figcaptionAnimation {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(100%) scale(0.8);
  }
  50% {
    visibility: visible;
    opacity: 1;
    transform: translateY(5%) scale(1);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.section {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}



.section figure {
  text-align: center;
  font-size: 29px;
  margin: 0;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7); */
}

.section figure img {
  width: 300px;
  border-radius: 3px;
  display: flex;
}

.shadow {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7)  ;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 1100px) {
  .slider-container {
    display: none;
  }
}


.populadProducts {
  display: flex;
  align-items: center;
  margin: 20px;
  border: 2px solid #000;
  padding: 10px;
  cursor: pointer;
}

.popularProductsImg {
  width: 100px;
  height: 100px;
}