body {
  margin: 0;
  background-color: rgba(235, 235, 235, 0.726);
}


button {
  font: inherit;
  background-color: #004f9a;
  color: white;
  border: 1px solid #004f9a;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #2867a1;
  border-color: #52789c;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}




